build/extras/*
build/*.build
build/*.buildinfo
build/*.changes
build/*.deb
build/*.dsc
build/*.debian.tar.xz
build/*.orig-output.tar.xz
build/*.orig.tar.gz
build/icecat-*
build/_service

*.tfstate
*.tfstate.*
**/.terraform/*
.terraform.lock.hcl
