#!/usr/bin/make -f

# Leave commented unless debugging build issues
#export DH_VERBOSE = 1
#export DH_OPTIONS = -v

export SHELL=/bin/bash

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed -Wl,--reduce-memory-overheads -Wl,--no-keep-memory

FFVERSION = 91.3.0
CLVERSION = RELEASE_8_1_0

%:
	mkdir -p output/build output/icecat-$(FFVERSION)
	dh $@ --builddirectory=output/build --sourcedirectory=output/icecat-$(FFVERSION)

override_dh_auto_configure:
	cp ../SOURCES/firefox-$(FFVERSION)esr.source.tar.xz output/
	cp ../SOURCES/firefox-$(FFVERSION)esr.source.tar.xz.asc output/
	cp ../SOURCES/KEY output/
	cp ../SOURCES/*.zip output/
	cp ../SOURCES/$(CLVERSION).zip output/compare-locales-$(CLVERSION).zip
	./makeicecat
	cp data/buildscripts/mozconfig-common output/icecat-$(FFVERSION)/.mozconfig
	cat data/buildscripts/mozconfig-gnulinux >> output/icecat-$(FFVERSION)/.mozconfig
ifneq (64,$(DEB_BUILD_ARCH_BITS))
	cd output/build && ../icecat-$(FFVERSION)/configure \
	--prefix=/usr \
	--with-l10n-base=../icecat-$(FFVERSION)/l10n \
	--disable-debug-symbols
else
	cd output/build && ../icecat-$(FFVERSION)/configure \
	--prefix=/usr \
	--with-l10n-base=../icecat-$(FFVERSION)/l10n
endif

override_dh_auto_build:
	dh_auto_build
	cd output/build/browser/locales && \
	for locale in $$(ls ../../../l10n/ -1); do \
		make merge-$$locale LOCALE_MERGEDIR=. ; \
		make langpack-$$locale LOCALE_MERGEDIR=. ; \
	done
	cd output/build/dist/linux-*/xpi && \
	for langpack in $$(ls *.xpi); do \
		language=$$(echo $$langpack | awk -F '.' '{print $$(NF-2)}') ; \
		mv $$langpack langpack-$$language@icecat.mozilla.org.xpi ; \
	done

override_dh_auto_test:
